.content-text{
    border: 1px solid rgb(106, 106, 106);
    border-radius: 5px;
    background-color: rgb(240, 238, 238);
    padding: 5px;
}

.comment-section{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}

.description-text {
    max-width: 80%; 
    margin: 0 auto; 
    text-align: center; 
}
