<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary fw-bold back-button " (click)="goBack()" style="font-size: 18px; padding: 10px 20px;">
                Zurück
            </button>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-12 text-center">
            <h2 class="mt-1 fw-bold text-primary">Blog Upload</h2>
        </div>
    </div>

    <div class="mt-4 p-4 bg-light rounded shadow" style="max-width: 800px; min-height: 700px; margin: 30px auto 0; padding-bottom: 30px;">
        <form (submit)="uploadBlog()" #uploadForm="ngForm">
            <div class="form-group mb-4">
                <label for="title">Titel:</label>
                <input type="text" 
                       class="form-control form-control-lg" 
                       id="title" name="title" 
                       [(ngModel)]="blog.title" 
                       #titleInput="ngModel"
                       required />
                <span class="error-message text-danger" 
                      *ngIf="titleInput.invalid && (titleInput.dirty || titleInput.touched)">
                    Bitte geben Sie einen Titel ein
                </span>
            </div>

            <div class="form-group mb-4">
                <label for="description">Beschreibung:</label>
                <textarea id="description" 
                          class="form-control form-control-lg" 
                          [(ngModel)]="description" 
                          name="description" 
                          #descInput="ngModel"
                          [class.invalid]="descInput.invalid && (descInput.dirty || descInput.touched)">
                </textarea>
                <span class="error-message text-danger" 
                      *ngIf="descInput.invalid && (descInput.dirty || descInput.touched)">
                    Bitte geben Sie eine Beschreibung ein
                </span>
            </div>

            <div class="form-group mb-4">
                <label for="mediaType">Medientyp:</label>
                <select id="mediaType" 
                        class="form-control form-control-lg" 
                        [(ngModel)]="mediaType" 
                        name="mediaType" 
                        required
                        #typeInput="ngModel"
                        [class.invalid]="typeInput.invalid && (typeInput.dirty || typeInput.touched)">
                    <option [ngValue]="MediaType.PDF">PDF</option>
                    <option [ngValue]="MediaType.Image">Bild</option>
                    <option [ngValue]="MediaType.Video">Video</option>
                </select>
                <span class="error-message text-danger" 
                      *ngIf="typeInput.invalid && (typeInput.dirty || typeInput.touched)">
                    Bitte wählen Sie einen Medientyp
                </span>
            </div>

            <ng-container [ngSwitch]="mediaType">
                <ng-container *ngSwitchCase="MediaType.PDF">
                    <div class="form-group mb-4">
                        <label for="contentPDF">PDF-Dokument:</label>
                        <input id="contentPDF" 
                               type="file" 
                               class="form-control form-control-lg"  
                               (change)="onContentFileChange($event)" 
                               [class.invalid]="!contentFile && contentTouched"
                               accept="application/pdf" />
                        <span class="error-message text-danger" *ngIf="!contentFile && contentTouched">
                            Bitte wählen Sie ein PDF-Dokument aus
                        </span>
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="MediaType.Image">
                    <div class="form-group mb-4">
                        <label for="contentImage">Bild:</label>
                        <input id="contentImage" 
                               type="file" 
                               class="form-control form-control-lg"  
                               (change)="onContentFileChange($event)" 
                               [class.invalid]="!contentFile && contentTouched"
                               accept="image/*" />
                        <span class="error-message text-danger" *ngIf="!contentFile && contentTouched">
                            Bitte wählen Sie ein Hauptbild aus
                        </span>
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="MediaType.Video">
                    <div class="form-group mb-4">
                        <label for="contentVideo">Video:</label>
                        <input id="contentVideo" 
                               type="file" 
                               class="form-control form-control-lg"  
                               (change)="onContentFileChange($event)" 
                               [class.invalid]="!contentFile && contentTouched"
                               accept="video/mp4,video/x-m4v,video/*" />
                        <span class="error-message text-danger" *ngIf="!contentFile && contentTouched">
                            Bitte wählen Sie ein Video aus
                        </span>
                    </div>
                </ng-container>
            </ng-container>

            <button type="submit" 
                    class="btn btn-primary btn-block w-100" 
                    [disabled]="!uploadForm.form.valid || !thumbnailFile || (!contentFile && mediaType !== MediaType.PDF)" 
                    style="font-size: 18px; padding: 15px;">
                Hochladen
            </button>
        </form>
    </div>
</div>
