.blog-entry-table {
    cursor: pointer;
    overflow-y: auto;
    max-height: 80vh;

    th, td {
        cursor: pointer;
    }
}

.card {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.03);
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-in-out; 
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background: transparent;
    transition: width 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar-content {
    position: absolute;
    left: -280px; 
    top: 0;
    width: 280px;
    height: 100%;
    background: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 25px;
    transition: left 0.4s ease-in-out; 
}

.sidebar-content.show {
    left: 0;
}

.content {
    max-width: 80%;
    margin: auto;
    transition: transform 0.4s ease-in-out;
}

.show-sidebar .content {
    transform: translateX(130px); 
}
